{
    "logLevel": "debug",
    "javaFilterExclude": [
        "net.minecraft.network.PacketListener#onPacketError",
        "net.minecraft.server.network.ServerCommonPacketListenerImpl#onPacketError"
    ],
    "classes": {
        "net.minecraft.server.level.ServerPlayer": "ServerPlayer",
        "net.minecraft.world.InteractionResult": "InteractionResult",
        "net.minecraft.world.entity.player.Player": "Player",
        "net.minecraft.world.item.Item": "Item",
        "net.minecraft.world.level.Level": "Level",
        "net.minecraft.network.chat.Component": "Component",
        "net.minecraft.network.PacketListener": "PacketListener",
        "net.minecraft.network.protocol.game.ClientboundSetSubtitleTextPacket": "ClientboundSetSubtitleTextPacket",
        "net.minecraft.network.protocol.game.ClientboundSetTitleTextPacket": "ClientboundSetTitleTextPacket",
        "net.minecraft.network.protocol.game.ClientboundSetTitlesAnimationPacket": "ClientboundSetTitlesAnimationPacket",
        "net.minecraft.server.network.ServerCommonPacketListenerImpl": "ServerCommonPacketListenerImpl",
        "net.minecraft.server.network.ServerGamePacketListenerImpl": "ServerGamePacketListenerImpl",
        "net.minecraft.network.protocol.Packet": "Packet"
    }
}