{
    "logLevel": "debug",
    "javaFilterExclude": [
        "net.minecraft.network.PacketListener#onPacketError",
        "net.minecraft.server.network.ServerCommonPacketListenerImpl#onPacketError",
        "net.minecraft.server.MinecraftServer#spin"
    ],
    "classes": {
        "net.minecraft.server.level.ServerPlayer": "ServerPlayer",
        "net.minecraft.world.InteractionResult": "InteractionResult",
        "net.minecraft.world.entity.player.Player": "Player",
        "net.minecraft.world.item.Item": "Item",
        "net.minecraft.world.level.Level": "Level",
        "net.minecraft.network.chat.Component": "Component",
        "net.minecraft.network.PacketListener": "PacketListener",
        "net.minecraft.network.protocol.game.ClientboundSetSubtitleTextPacket": "ClientboundSetSubtitleTextPacket",
        "net.minecraft.network.protocol.game.ClientboundSetTitleTextPacket": "ClientboundSetTitleTextPacket",
        "net.minecraft.network.protocol.game.ClientboundSetTitlesAnimationPacket": "ClientboundSetTitlesAnimationPacket",
        "net.minecraft.server.network.ServerCommonPacketListenerImpl": "ServerCommonPacketListenerImpl",
        "net.minecraft.server.network.ServerGamePacketListenerImpl": "ServerGamePacketListenerImpl",
        "net.minecraft.network.protocol.Packet": "Packet",
        "net.minecraft.core.Holder": "Holder",
        "net.minecraft.world.entity.LivingEntity": "LivingEntity",
        "net.minecraft.world.entity.ai.attributes.Attribute": "Attribute",
        "net.minecraft.world.entity.ai.attributes.AttributeInstance": "AttributeInstance",
        "net.minecraft.world.entity.ai.attributes.Attributes": "Attributes",
        "net.minecraft.server.level.ServerPlayerGameMode": "ServerPlayerGameMode",
        "net.minecraft.world.entity.Entity": "Entity",
        "net.minecraft.world.phys.AABB": "AABB",
        "net.minecraft.core.BlockPos": "BlockPos",
        "net.minecraft.server.MinecraftServer": "MinecraftServer",
        "net.minecraft.server.ServerAdvancementManager": "ServerAdvancementManager",
        "net.minecraft.server.PlayerAdvancements": "PlayerAdvancements",
        "net.minecraft.advancements.AdvancementHolder": "AdvancementHolder",
        "net.minecraft.resources.Identifier": "Identifier"
    }
}