{
  "javaPackage": "com.example.swift",
  "mode": "jni",
  "logLevel": "debug",
  "overrideStaticBlockLibraryLoading": [
    "SwiftLibraries.loadLibraryWithFallbacks(SwiftLibraries.LIB_NAME_SWIFT_JAVA);",
    "SwiftLibraries.loadLibraryWithFallbacks(SwiftLibraries.LIB_NAME_SWIFT_RUNTIME_FUNCTIONS);",
    "SwiftLibraries.loadLibraryWithFallbacks(\"MinecraftJavaAPI\");",
    "SwiftLibraries.loadLibraryWithFallbacks(LIB_NAME);"
  ]
}